@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.App {
    text-align: center;
    background-color: #33c933;
}

@media (min-width: 600px) and (max-width: 1024px) {
    .App {
        width: 100vw;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Creepster', cursive;
}

/*
* {
}
*/